<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">
    
                <div class="col-lg-3 col-md-6 footer-contact">
                    <p>
                        <a href="https://sci.org.co/" target="blank_">
                            <img src="../../../assets/img/sociedad-colombiana-de-ingenieros.png" alt="escudo"
                                style="max-width: 200px;">
                        </a>
    
                    </p>
                </div>
    
                <div class="col-lg-2 col-md-6 footer-links">
                <p>
                    <a href="https://sci.org.co/" target="blank_">
                        <img src="../../../assets/img/asociacion-colombiana-ingenieros.png" alt="escudo" style="max-width: 200px;">
                    </a>
                
                </p>
                </div>
    
                <div class="col-lg-3 col-md-6 footer-links">
                    <p>
                        <a href="https://sci.org.co/ p-3" target="blank_">
                            <img src="../../../assets/img/uptc-01.png" alt="escudo" style="max-width: 200px;">
                        </a>
                    
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <p>
                        <a href="https://sci.org.co/" target="blank_">
                            <img src="../../../assets/img/mintic.png" alt="escudo" style="max-width: 200px;">
                        </a>
                    
                    </p>
                </div>
    
            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="credits">
               
                Creado y desarrollado por<a href="https://webfactorycolombia.com/"target="blank_" > Webfactory Colombia</a>
            </div>
        </div>
    </div>
</footer><!-- End Footer -->
