<!-- <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="../../../assets/pedefes/1 REQUISITOS DE PREGRADO CON CONVENIO AÑO 2022.pdf" class="btn btn-warning" target="_blank">Go somewhere</a>
    </div>
</div> -->

<div class="btn-group" role="group" aria-label="Basic example">

    <a href="../../../assets/pedefes/1 REQUISITOS DE PREGRADO CON CONVENIO AÑO 2022.pdf" target="_blank"
        class="btn btn-warning">
        REQUISITOS DE PREGRADO CON CONVENIO
        <span>
            <i class='bx bxs-file-pdf'></i>
        </span>
    </a>

    <a href="../../../assets/pedefes/2 REQUISITOS MATRICULA PROFESIONAL AÑO 2022.pdf" class="btn btn-warning"
        target="_blank">
        REQUISITOS MATRICULA PROFESIONAL
        <span>
            <i class='bx bxs-file-pdf'></i>
        </span>

    </a>

    <a href="../../../assets/pedefes/3 REQUISITO REGISTRO DIGITAL CON CODIGO QR DE ESPECIALISTAS AÑO 2022.pdf"
        class="btn btn-warning" target="_blank">
        REQUISITO REGISTRO DIGITAL CON CODIGO QR DE ESPECIALISTAS
        <span>
            <i class='bx bxs-file-pdf'></i>
        </span>


    </a>

    <a href="../../../assets/pedefes/4 REQUISITOS REGISTRO DIGITAL CODIGO QR TECNICOS O TECNOLOGOS.pdf" target="_blank"
        class="btn btn-warning">
        REQUISITOS REGISTRO DIGITAL CODIGO QR TECNICOS O TECNOLOGOS
        <span>
            <i class='bx bxs-file-pdf'></i>
        </span>

    </a>


    <a href="../../../assets/pedefes/5 REQUISITOS DUPLICADOS MATRICULAS  2022.pdf" target="_blank"
        class="btn btn-warning">

        REQUISITOS DUPLICADOS MATRICULAS
        <span>
            <i class='bx bxs-file-pdf'></i>
        </span>

    </a>


</div>
<br>
<br>
<div class="btn-group" role="group" aria-label="Basic example">

    <a href="../../../assets/pedefes/6 REGISTO DIGITAL MAESTRO DE OBRA O AUXILIAR 2022.pdf" target="_blank"
        class="btn btn-warning">

        REGISTO DIGITAL MAESTRO DE OBRA O AUXILIAR
        <span>
            <i class='bx bxs-file-pdf'></i>
        </span>

    </a>

    <a href="../../../assets/pedefes/7 REQUISITOS PERMISO TEMPORAL EXTRAJERO DIGITAL CON CODIGO QR  AÑO 2022.pdf"
        class="btn btn-warning" target="_blank">
        EQUISITOS PERMISO TEMPORAL EXTRAJERO DIGITAL CON CODIGO QR
        <span>
            <i class='bx bxs-file-pdf'></i>
        </span>

    </a>

    <a href="../../../assets/pedefes/8 REQUISITOS DUPLICADOS REGISTROS DIGITALES CON CODIGO QR TECNICOS, TECNOLOGO Y ESPECIALISTAS  2022.pdf"
        target="_blank" class="btn btn-warning">
        REQUISITOS DUPLICADOS REGISTROS DIGITALES CON CODIGO QR TECNICOS,
        TECNOLOGO Y ESPECIALISTAS
            <span>
                <i class='bx bxs-file-pdf'></i>
            </span>
    </a>

    <a href="../../../assets/pedefes/FORMULARIO ACTUALIZADO 2022.docx" class="btn btn-warning">

        EQUISITOS DUPLICADOS REGISTROS DIGITALES CON CODIGO QR TECNICOS,
        TECNOLOGO Y ESPECIALISTAS
        <span>
            <i class='bx bxs-file-pdf'></i>
        </span>

    </a>

</div>
